<div class="dashboard-container">
  <div class="card-container">
    <div class="card-content">
      <div class="buttons-container">
        <button class="btn btn-primary btn-lg large-button" routerLink="/search-recipes">Recipes</button>
        <button class="btn btn-secondary btn-lg small-button" routerLink="/new-recipe">New Recipe</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>




<!--
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Recipes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            New Recipe
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Input Recipe</a></li>
            <li><a class="dropdown-item" href="#">Generate Recipe</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->