.new-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/dried-chiles.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-container {
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%;
}

.card-content {
    padding: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 75%; /* Combined width of both inputs (3/4 width of textarea) */
    margin-bottom: 10px;
}

.recipe-name-group {
    flex: 3; /* Recipe Name input takes up more space */
    margin-right: 10px;
}

.recipe-creator-group {
    flex: 2; /* Recipe Creator input is slightly less wide */
}

.input-group {
    width: 100%;
    margin-bottom: 10px;
}

.text-area {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.7);
}

.save-button {
    margin-top: 20px;
    background-color: rgb(111, 130, 87);
    align-self: center;
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border: .5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button img {
    width: 40px;
    height: 40px;
}

.h2 {
    padding-bottom: 20px;
}